TD, P, BR, BODY { font-family:"Arial, Helvetica, sans-serif"; font-size:9pt; color:#333333; }
.tableheader 
{
    background-color: #62C311;
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9pt;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
}
.tablerow {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

a.headertextlink:link { font-family : Arial, Helvetica, sans-serif; color : #FFFFFF; font-size : 11px; text-decoration: underline}
a.headertextlink:visited {font-family : Arial, Helvetica, sans-serif; color : #FFFFFF; font-size : 11px; text-decoration: underline}
a.headertextlink:hover {font-family : Arial, Helvetica, sans-serif; color : #CCCCCC; font-size : 11px; text-decoration: none;}

.text {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9pt;
	padding-top: 2px;
	padding-bottom: 2px;
}
.utextbold {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9pt;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 5px;
	text-decoration: "underline";
}

.textbold {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9pt;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 5px;
}

.textuser {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 9px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
.textbolds {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 11px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

.textboldreds {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #62C311;
	padding-top: 2px;
	padding-bottom: 2px;
}

.caption { font-family: "Arial, Helvetica, sans-serif"; font-size: 30px; color:#CCCCCC; font-weight: bold;}

hr { color: #62C311; }

a.textlink:link { font-family : Arial, Helvetica, sans-serif; color : #666666; font-size : 9pt; text-decoration: underline}
a.textlink:visited {font-family : Arial, Helvetica, sans-serif; color : #666666; font-size : 9pt; text-decoration: underline}
a.textlink:hover {font-family : Arial, Helvetica, sans-serif; color : #333333; font-size : 9pt; text-decoration: none;}

a.menulink:link { font-family : Arial, Helvetica, sans-serif; color : #333333; font-size : 9pt; font-weight: bold; text-decoration: none}
a.menulink:visited {font-family : Arial, Helvetica, sans-serif; color : #333333; font-size : 9pt; font-weight: bold; text-decoration: none}
a.menulink:hover {font-family : Arial, Helvetica, sans-serif; color : #CC0000; font-size : 9pt; font-weight: bold; text-decoration: none;}

a.tableline:link { border-top-width: 2px; border-top-style: solid; border-top-color: #B0A47D; 	border-bottom-width: 1px; border-bottom-style: solid; 	border-bottom-color: #C2B897; text-decoration: underline}
a.tableline:visited { border-top-width: 2px; border-top-style: solid; border-top-color: #B0A47D; 	border-bottom-width: 1px; border-bottom-style: solid; 	border-bottom-color: #C2B897; text-decoration: underline}
a.tableline:hover { border-top-width: 2px; border-top-style: solid; border-top-color: #B0A47D; 	border-bottom-width: 1px; border-bottom-style: solid; 	border-bottom-color: #C2B897; text-decoration: text-decoration: none;}

a.linkbutton1:link {
	FONT-FAMILY:Arial, Helvetica, sans-serif; 
	FONT-SIZE:11PX; 
	FONT-WEIGHT: BOLD;
	PADDING-RIGHT: 2PX; 
	PADDING-LEFT: 2PX; 
	BORDER-RIGHT: #62C311 1PX SOLID; 
	BORDER-TOP: #62C311 1PX SOLID; 
	BORDER-LEFT: #62C311 1PX SOLID; 
	BORDER-BOTTOM: #62C311 1PX SOLID; 
	CURSOR: HAND; 
	BACKGROUND: #98B2E6; 
	HEIGHT: 18PX;
	color: #FFFFFF;
	text-decoration: none;
}

a.linkbutton1:visited {
	FONT-FAMILY:Arial, Helvetica, sans-serif; 
	FONT-SIZE:11PX; 
	FONT-WEIGHT: BOLD;
	PADDING-RIGHT: 2PX; 
	PADDING-LEFT: 2PX; 
	BORDER-RIGHT: #62C311 1PX SOLID; 
	BORDER-TOP: #62C311 1PX SOLID; 
	BORDER-LEFT: #62C311 1PX SOLID; 
	BORDER-BOTTOM: #62C311 1PX SOLID; 
	CURSOR: HAND; 
	BACKGROUND: #98B2E6; 
	HEIGHT: 18PX;
	color: #FFFFFF;
	text-decoration: none;
}

.button1 {
	FONT-FAMILY:Arial, Helvetica, sans-serif; 
	FONT-SIZE:11PX; 
	FONT-WEIGHT: BOLD;
	PADDING-RIGHT: 0PX; 
	PADDING-LEFT: 0PX; 
	BORDER-RIGHT: #62C311 1PX SOLID; 
	BORDER-TOP: #62C311 1PX SOLID; 
	BORDER-LEFT: #62C311 1PX SOLID; 
	BORDER-BOTTOM: #62C311 1PX SOLID; 
	CURSOR: HAND; 
	BACKGROUND: #98B2E6; 
	HEIGHT: 18PX;
	COLOR: #FFFFFF;
}

.tableline {
/*	border-top-color: #B0A47D; */
	BORDER-TOP-WIDTH: 1PX;
	BORDER-TOP-STYLE: SOLID;
	BORDER-TOP-COLOR: #62C311;
	BORDER-BOTTOM-WIDTH: 1PX;
	BORDER-BOTTOM-STYLE: SOLID;
	BORDER-BOTTOM-COLOR: #62C311;
	BORDER-RIGHT-WIDTH: 1PX;
	BORDER-RIGHT-STYLE: SOLID;
	BORDER-RIGHT-COLOR: #62C311;
	BORDER-LEFT-WIDTH: 1PX;
	BORDER-LEFT-STYLE: SOLID;
	BORDER-LEFT-COLOR: #62C311; 
	BACKGROUND: #E6F4CE; 
}
.tableline1 {
	BORDER-TOP-WIDTH: 1PX;
	BORDER-TOP-STYLE: SOLID;
	BORDER-TOP-COLOR: #62C311;
	BORDER-BOTTOM-WIDTH: 1PX;
	BORDER-BOTTOM-STYLE: SOLID;
	BORDER-BOTTOM-COLOR: #62C311;
	BORDER-RIGHT-WIDTH: 1PX;
	BORDER-RIGHT-STYLE: SOLID;
	BORDER-RIGHT-COLOR: #62C311;
	BORDER-LEFT-WIDTH: 1PX;
	BORDER-LEFT-STYLE: SOLID;
	BORDER-LEFT-COLOR: #62C311; 
	BACKGROUND: #FFFFFF; 
}

.forminput {
	font-size : 9pt;
	font-family: "Arial, Helvetica, sans-serif";

}
.forminput_spec {
	font-size : 9pt;
	font-family: "Arial, Helvetica, sans-serif";

}

.centerforminput {
	color : #000000;
	background-color : #FFFFFF;
	font-size : 9pt;
	border: 1px solid #FFFFFF;
	font-family: "Arial, Helvetica, sans-serif";
	text-align: center;

}

select {
	color : #000000;
	font-size : 9pt;
	font-family: "Arial, Helvetica, sans-serif";
}

.trdisplay {  display:block;}
.trhidden {  display:none;}

.bigtitle {
	font-size: 15pt;
	font-weight: bold;
	color: #62C311; font-family: "Times New Roman", Times, serif; 
}
.note {font-family: Arial, Helvetica, sans-serif; font-size:8pt; color: #62C311;}
.style7 {font-family: Arial, Helvetica, sans-serif; font-size:9pt}
.listHeader
{
	font-size:14px;
    font-weight:bold;
    color:#666666;
}