<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="web_unicode" value="utf-8"/>
    <add key="DB_Server" value="202.82.149.244,2433"/>
    <add key="Mode" value="prod"/>
    <add key="Error" value="red"/>
    <add key="Information" value="blue"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="DateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="DateValueFormat" value="dd/MMM/yyyy"/>
    <add key="CurrencyFormat" value="0.00"/>
    <add key="CurrencyDisplayFormat" value="#,##0.00"/>
    <add key="NumberDisplayFormat" value="#,##0"/>
    <add key="RateFormat" value="0.0000000000"/>
    <add key="DefaultHighlightRowColor" value="#E6F4CE"/>
    <add key="DefaultRowColor" value="#FFFFFF"/>
    <add key="DefaultCheckedRowColor" value="#D2EFBF"/>
    <add key="DefaultHeaderCssClass" value="tableheader"/>
    <add key="DefaultRowCssClass" value="tablerow"/>
    <add key="DefaultRowHyperCssClass" value="textlink"/>
    <add key="DefaultHeaderHyperCssClass" value="headertextlink"/>
    <add key="SaveUploadFolder" value="download"/>
    <add key="DefaultShowHighlightRow" value="true"/>
    <add key="DefaultShowCheckedRow" value="true"/>
    <add key="DefaultAllowSelection" value="true"/>
    <add key="DefaultShowSorting" value="true"/>
    <add key="DefaultShowPaging" value="true"/>
    <add key="DefaultPageSize" value="50"/>
    <add key="FilePath" value="G:\android\doctor-cms\doctor-cms\upload\"/>
    <add key="Product_image_file_path" value="~/product_images/"/>
    <add key="SaveNewUploadFolder" value="upload_files/"/>
    <add key="XMLPhotosPath" value="~/car_image/"/>
    <add key="websiteaddress" value="http://www.soonchoy.cn"/>
    <add key="isAppEmailFunction" value="Y"/>
    <add key="EmailAddress" value="alucard263096@gmail.com"/>
    <add key="EmailID" value="alucard263096"/>
    <add key="EmailPassword" value="aerith123"/>
    <add key="SiteName" value="一龄博士"/>
  </appSettings>
</configuration>
